$color-softblue: hsl(215, 51%, 70%);
$color-cyan: hsl(178, 100%, 50%);
$color-darkbluemainbg: hsl(217, 54%, 11%);
$color-darkbluecardbg: hsl(216, 50%, 16%);
$color-darkblueline: hsl(215, 32%, 27%);
$color-white: #FFF;

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    max-width: 1440px;
    min-height: 100vh;
    background-color: $color-darkbluemainbg;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    color: $color-softblue;
    display: grid;
    place-items: center;
}

.element {
    max-width: 330px;
    height: 540px;
    background-color: $color-darkbluecardbg;
    border-radius: 1rem;
    padding: 1.4rem;
    &__image {
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            border-radius: .5rem;
        }
    }
    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color-cyan, .5);
        opacity: 0;
        display: grid;
        place-items: center;
        transition: opacity 0.5s;
        border-radius: .5rem;
        img{
            width: 20%;
        }
        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }
    h1 {
        font-size: 22px;
        color: $color-white;
        margin-top: 1rem;
        &:hover {
            cursor: pointer;
            color: $color-cyan;
        }
    }
    >p {
        font-size: 16px;
        line-height: 1.5rem;
        font-weight: 300;
        margin-top: 1rem;
    }
    &__items {
        display: flex;
        padding-bottom: .6rem;
        justify-content: space-between;
        border-bottom: 1px solid $color-darkblueline;
        margin-top: 1rem;
        p{
            font-size: 16px;
            font-weight: 300;
        }
        &-logo {
            display: flex;
            align-items: center;
            gap: 3px;
            .little-logo{
                display: flex;
                align-items: center;
                img{
                    width: 15px;
                    height: 15px;
                    object-fit: contain;
                }
            }
            &--cyan {
                color: $color-cyan;
            }
        }
    }
    &__footer{
        display: flex;
        align-items: center;
        margin-top: 1rem;
        p{
            font-size: 15px;
            font-weight: 300;
        }
        & span{
            color: $color-white;
            font-weight: 400;
            &:hover {
                cursor: pointer;
                color: $color-cyan;
            }
        }
        &-image{
            width: 34px;
            height: 34px;
            border: 1px solid $color-white;
            border-radius: 50%;
            margin-right: 10px;
            img {
                width: 100%;
            }
        }
    }
}